= form_for(choice) do |f|
  - if choice.errors.any?
    #error_explanation
      %h2
        = pluralize(choice.errors.count, "error")
        prohibited this choice from being saved:
      %ul
        - choice.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :category_id
    = f.text_field :category_id
  .field
    = f.label :index
    = f.text_field :index
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit
