
.partners.text-center
  .partner-logo
    = link_to 'http://www.alaska.edu/epscor', target: :_blank do
      = image_tag 'EPSCoR-logo-JPEG.jpg'
  .partner-logo
    = link_to 'http://www.gina.alaska.edu', target: :_blank do
      = image_tag 'GINA_logo.png'
  .partner-logo
    = link_to 'http://uaf.edu', target: :_blank do
      = image_tag 'UAFLogo_A_647.png'
  .partner-logo
    = link_to 'http://www.iarc.uaf.edu/', target: :_blank do
      = image_tag 'IARC_logo_trans_outline_lg.png'
  .partner-logo
    = link_to 'http://www.nsf.gov/', target: :_blank do
      = image_tag 'nsf1v.jpg'
  .partner-logo
    = link_to 'https://www.uidaho.edu/caa/about/centers/crc', target: :_blank do
      = image_tag 'CRC-UI_logo_small.PNG'

%p.text-center
  Acknowledgement to Alaska EPSCoR NSF award #OIA-1208927 and the state of Alaska.
  %br/
  This site was funded by NSF EPSCoR and built by the #{link_to 'Geographic Information Network of Alaska (GINA)', 'http://www.gina.alaska.edu', target: :_blank}
  %br/
  River Photo Credit: Todd Paris, UAF
  %br/
  UA is an AA/EO employer and educational institution and prohibits illegal discrimination against any individual: www.alaska.edu/nondiscrimination.

%p
  %span{ style: 'color: #00d000; font-size: 1.5em;' }*
  Disclaimer: The Arctic Water Resource Vulnerabilities Index (AWRVI) was first published in 2008
  =link_to 'https://link.springer.com/article/10.1007%2Fs00267-008-9152-0', target: :_blank do
    (doi: 10.1007/s00267-008-9152-0).
  Our researchers have revisited the index and made updates, such as changes to input parameters, units, scaling, etc.  The web interface here is based on the updated version of AWRVI. The updated index is not yet published. We will provide a link to that publication once it is in press.
