
.partners.text-center
  .partner-logo
    = link_to 'http://www.alaska.edu/epscor', target: :_blank do
      = image_tag 'EPSCoR-logo-JPEG.jpg'
  .partner-logo
    = link_to 'http://www.gina.alaska.edu', target: :_blank do
      = image_tag 'GINA_logo.png'
  .partner-logo
    = link_to 'http://uaf.edu', target: :_blank do
      = image_tag 'UAFLogo_A_647.png'
  .partner-logo
    = link_to 'http://www.iarc.uaf.edu/', target: :_blank do
      = image_tag 'IARC_logo_trans_outline_lg.png'
  .partner-logo
    = link_to 'http://www.nsf.gov/', target: :_blank do
      = image_tag 'nsf1v.jpg'
  .partner-logo
    = link_to 'https://www.uidaho.edu/caa/about/centers/crc', target: :_blank do
      = image_tag 'CRC-UI_logo_small.PNG'

%p.text-center
  Acknowledgement to Alaska EPSCoR NSF award #OIA-1208927 and the state of Alaska.
  %br/
  This site was funded by NSF EPSCoR and built by the #{link_to 'Geographic Information Network of Alaska (GINA)', 'http://www.gina.alaska.edu', target: :_blank}
  %br/
  River Photo Credit: Todd Paris, UAF
