- if category.choices.any?
  = f.simple_fields_for :index_category_choices, category_choices(@index, category) do |choice|
    = choice.input :id, as: :hidden
    = choice.input :category_id, as: :hidden
    = choice.input :choice_id, collection: category.choices,
                    label_method: :description, label: category.name

= render partial: 'category', collection: category.children, locals: {f: f}