- first_category = nil
= simple_form_for([@community,@index], html: { class: 'vulnerability-index-form'}) do |f|
  .panel.panel-default{ style: 'margin-top: 20px;' }
    .panel-heading
      %h2{ style: 'margin: 0px;' }
        AWRVI Form for #{link_to @index.community.name, @index.community}
    .panel-body{ style: 'padding: 0px;' }
      = f.error_notification
      .form-sidebar
        %ul.nav.nav-pills.nav-stacked
          - @index.awrvi_version.children.each do |subindex|
            %li.heading= subindex.short_name
            - subindex.children.each do |category|
              - first_category ||= category
              %li{ class: first_category == category ? 'active' : '' }= link_to category.short_name, "##{dom_id(category)}", data: {toggle: 'pill'}

      .form-inputs
        = f.input :awrvi_version_id, as: :hidden
        .tab-content
          - @index.awrvi_version.find_all_by_generation(2).each do |category|
            .tab-pane{id: dom_id(category), class: category == first_category ? 'active' : '' }
              = render partial: 'category', collection: category.children, locals: {f: f}
    .panel-footer.text-right
      .pull-left
        Version: #{@index.awrvi_version.name}
      = f.submit 'Save AWRVI Dashboard', class: 'btn btn-primary'
