= simple_form_for(@index) do |f|
  = f.error_notification
  .form-inputs
    = f.input :finalized_at
    = f.input :awrvi_version
    = f.input :awrvi_index
    = f.input :rejected_at
    = f.input :rejected_reason
  .form-actions
    = f.button :submit
