- first_category = nil
= simple_form_for([@community,@index], html: { class: 'vulnerability-index-form'}) do |f|
  .panel.panel-default
    .panel-heading
      %h1.panel-title
        = "#{@index.community.name} - #{@index.awrvi_version.name}"
    .panel-body{ style: 'padding: 0px;' }
      = f.error_notification
      .form-sidebar
        %ul.nav.nav-pills.nav-stacked
          - @index.awrvi_version.children.each do |subindex|
            %li.heading= subindex.short_name
            - subindex.children.each do |category|
              - first_category ||= category
              %li{ class: first_category == category ? 'active' : '' }
                = link_to "##{dom_id(category)}", data: {toggle: 'pill'} do
                  = category.short_name
                  .badge.badge-default.pull-right{id: dom_id(category, 'progress')}= completed_count(@index, category.children)
      .form-inputs
        = f.input :awrvi_version_id, as: :hidden
        .tab-content
          - @index.awrvi_version.find_all_by_generation(2).each do |category|
            .tab-pane{id: dom_id(category), class: category == first_category ? 'active' : '', data: {behavior: 'progress', target: dom_id(category, '#progress')} }
              = render partial: 'category', collection: category.children, locals: {f: f}
    .panel-footer.text-right
      #total-progress.btn.btn-disabled
        #{completed_count(index, index.awrvi_version.leaves)} Complete
      = f.submit class: 'btn btn-primary'
