.panel.panel-default.index-section
  .panel-heading
    %strong= "AWRVI Index Summary"
    - if index.reviewed?
      %span.label.label-success.pull-right Reviewed
  .panel-body
    %span.index-text
      %strong= "AWRVI Vulnerability Score: #{number_with_precision(index.vulnerability_index, precision: 2)}"
    .progress
      - percentage = index.vulnerability_index * 100
      .progress-bar{style: "width: #{percentage}%", class: progress_bar_for_percentage(percentage)}
    .row.progress-label
      .col-xs-6.text-left.progress-bar-text Highly vulnerable
      .col-xs-6.text-right.progress-bar-text Highly resilient
    %strong= "Completeness: #{index.completeness}"
    .progress
      .progress-bar{style: "width: #{index.completeness_percentage}%"}
.row
  - index.awrvi_version.children.each do |subindex|
    .col-xs-6
      .panel.panel-default.index-section
        .panel-heading
          - subindex_value = indicator_value(index, subindex)
          %strong= "#{subindex}: #{number_with_precision(subindex_value, precision: 2)}"
        .panel-body
          - subindex.children.each do |indicator|
            - value = indicator_value(index, indicator)
            - percentage = value * 100
            %strong
              = "#{indicator.short_name.upcase}: #{number_with_precision(value, precision: 2)}"
            .progress
              .progress-bar{style: "width: #{percentage}%;", class: progress_bar_for_percentage(percentage)}
            .row.progress-label
              .col-xs-6.text-left.progress-bar-text Highly vulnerable
              .col-xs-6.text-right.progress-bar-text Highly resilient
