%p#notice= notice

%h1= @community

.container-fluid
  .row
    - @index.awrvi_version.children.each do |subindex|
      .col-xs-5
        .panel.panel-default
          .panel-heading
            - subindex_value = indicator_value(@index, subindex).round(2)
            %strong= "#{subindex} - #{subindex_value}"
          .panel-body
            - subindex.children.each do |indicator|
              - value = indicator_value(@index, indicator)
              - percentage = value * 100
              %strong
                = "#{indicator.short_name.upcase} - #{value.round(2)}"
              .progress
                .progress-bar{style: "width: #{percentage}%;", class: progress_bar_for_percentage(percentage)}
  .row
    .col-xs-10
      .panel.panel-default
        .panel-heading
          %strong= "AWRVI Index Summary"
        .panel-body
          %strong= "Completeness: #{@index.completeness}"
          .progress
            .progress-bar{style: "width: #{@index.completeness_percentage}%"}
          %strong= "AWRVI Vulnerability Index: #{@index.vulnerability_index.round(2)}"
          .progress
            - percentage = @index.vulnerability_index * 100
            .progress-bar{style: "width: #{percentage}%", class: progress_bar_for_percentage(percentage)}
- content_for :sidebar do
  - if can? [:edit, :manage], @index
    %ul.list-group
      %li.list-group-item.active Manage index
      - if can? :edit, @index
        %li.list-group-item
          = link_to 'Edit', edit_index_path(@index)
