%h1= @community
.container-fluid
  = render @index
  
- content_for :sidebar do
  - if can? :update, @index
    = link_to 'Edit', edit_index_path(@index), class: 'btn btn-default btn-block'
  - if can? :destroy, @index
    = link_to 'Delete', index_path(@index), method: :delete, data: { confirm: 'Are you sure? The index can not be restored if it is deleted!' }, class: 'btn btn-danger btn-block'
  - if can? :publish, @index
    = link_to 'Publish', publish_index_path(@index), method: :patch, data: { confirm: 'Are you sure? The index can no longer be edited or deleted once it has been published!' }, class: 'btn btn-warning btn-block'
