%p#notice= notice

%h1= @user.name
%h2= @user.email

%h3 Your Indices:
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Community
      %th Show Index
  %tbody
    - Index.user_indices(current_user).each do |index|
      %tr
        %td
          %b= index.community.name
        %td
          - if can? :update, index
            = link_to 'View AWRVI Dashboard', index_path(index), class: 'btn btn-default btn-sm'
          - else 
            %b Published
