%p#notice= notice

%h1= @user.name
%h2= @user.email

%table.table.table-condensed
  %thead
    %tr
      %th Community
      %th Actions
  %tbody
    - Index.user_indices(current_user).each do |index|
      %tr
        %td
          %b= index.community.name
        %td
          - if can? :edit, index
            = link_to "Edit", edit_index_path(index)
          - else 
            %bPublished
