- current_index = @index || latest_vulnerability_assesment(@community)
.pull-right{ style: 'margin-top: 25px;' }
  .btn-toolbar
    .btn-group
      - if can? :update, @index
        = link_to 'Edit', edit_index_path(@index), class: 'btn btn-default'
      - if can? :destroy, @index
        = link_to 'Delete', index_path(@index), method: :delete, data: { confirm: 'Are you sure? The index can not be restored if it is deleted!' }, class: 'btn btn-danger'
      - if can? :publish, @index
        = link_to 'Publish', publish_index_path(@index), method: :patch, data: { confirm: 'Are you sure? The index can no longer be edited or deleted once it has been published!' }, class: 'btn btn-warning'
      - if can? :hide, @index
        = link_to "Hide", edit_manage_index_path(@index),  class: 'btn btn-default'
      - if can? :review, @index
        = render @review

%h1 Vulnerability Assessment
- if !current_index
  = render 'communities/no_published_available', community: @community
- else
  = render @index

- content_for :sidebar do
  %h1.community-title
    = community.name

  %p
    = link_to community do
      %i.fa.fa-link
      Community Permalink

  - if @index
    %p
      %strong Last updated:
      = @index.updated_at

  %p
    %strong Location:
    = community.lnglat.join(', ')

  %p
    = link_to @community.google_maps_url, target: '_blank' do
      %i.fa.fa-external-link
      View on Google Maps
  .community-map.thumbnail
    = link_to image_tag(@community.static_map_url), @community.google_maps_url, target: '_blank'
    .caption.text-right
      = @community.static_map_attribution

  = link_to communities_path, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back to search

  = link_to new_community_index_path(@community), class: 'btn btn-success btn-block' do
    Start new Vulnerabilty Assesment

  - if can? :edit, @community
    = link_to edit_community_path(@community), class: 'btn btn-default btn-block' do
      %i.fa.fa-edit
      Edit community

  - if can? :create, Index
    = render 'communities/past_vulnerability_assessments', community: @community
