= bootstrap_form_for @community do |f|
  = f.text_field :name, label: 'Name', required: true
  = f.text_field :gnis_id, label: 'GNIS ID'
  = f.text_field :location, label: 'Location', placeholder: 'Example: POINT(56.9455556, -154.1702778)'

  .form-action
    = link_to :back, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Cancel

    .pull-right
      = f.submit @community.new_record? ? "Create Community" : "Update Community"
