= render @community

%h2 Latest published AWRVI Dashboard
- if @community.indices.published.empty?
  = render 'indices/no_published_available'
- else
  = render @community.indices.published.recent.first

- content_for :sidebar do
  = link_to communities_path, class: 'btn btn-default btn-block' do
    %i.fa.fa-arrow-left
    Back to search

  - if can? :edit, @community
    = link_to edit_community_path(@community), class: 'btn btn-default btn-block' do
      %i.fa.fa-edit
      Edit community

  - if can? :create, Index
    = link_to new_community_index_path(@community), class: 'btn btn-success btn-block' do
      Start new AWRVI Dashboard
