%p#notice= notice
%p
  %strong Name:
  = @community.name
%p
  %strong Gnis:
  = @community.gnis_id
%p
  %strong Census:
  = @community.census_id
%p
  %strong Location:
  = @community.location
= link_to 'Edit', edit_community_path(@community)
|
= link_to 'Back', communities_path
