!!!
%html
  %head
    %title
      AWRVI
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container-fluid
      = render 'layouts/flash_messages'

      .community-row{ class: sidebar_css(content_for?(:sidebar)) }
        .community-sidebar
          = yield :sidebar
        .community-body
          = yield
