!!!
%html
  %head
    %title
      AWRVI
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container-fluid
      = render 'layouts/flash_messages'
      .row
        .col-xs-8.col-sm-9
          = yield
        .col-xs-4.col-sm-3
          = yield :sidebar
