!!!
%html
  %head
    %title
      AWRVI
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    .container-fluid
      = render 'layouts/flash_messages'
      -# .row
      -#   - if content_for? :sidebar
      -#     .col-xs-9.col-sm-10
      -#       = yield
      -#     .col-xs-3.col-sm-2
      -#       = yield :sidebar
      -#   - else
      -#     .col-xs-12
      -#       = yield

      .row
        %div{class=main_column_css(content_for? :sidebar)}
          = yield
        - if content_for? :sidebar
          .col-xs-3.col-sm-2
            = yield :sidebar